h1 {
    text-align: center;
}
  
  hr {
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
  }
  
  .jogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
.jogo button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: #f7f7f7;
}

.div-palavraMeio {
    padding: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}


/* alert */

.alert {
  margin-top: 15px;
  opacity: 0;
  transition-duration: 1.3s;
  position: absolute;
  padding: 20px;
  background-color: #5ea762;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.div-botoes {
  display: flex;
  justify-content: space-between;
}

.div-alert {
  display: flex;
  justify-content: center;
}


button{
  cursor: pointer;
}
button:hover {
  background-color: rgb(156, 155, 155);
}

.jogo button:hover {
  transition-duration: 0.3s;
  background-color: rgb(165, 165, 165);

}




